*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

input, button {
    border: none;
    outline: none;
    background: none;
}

.login_form {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form {
    background: -webkit-linear-gradient(right, #acdfc5, #f0f0f0);
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: rgb(87, 85, 85);
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 10px;
    font-weight: 600;
    color: #5b697ec7;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.submit {
    width: 30%;
    margin: 30px auto;
    text-align: center;
    /* margin-top: 40px;
    margin-bottom: 30px; */
    text-transform: uppercase;
    font-weight: 600;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: -webkit-linear-gradient(left, #419169, #41a370a2);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #41a370a1, #419169);
}

.sigup_form {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.login_form.s-signup .sigup_form {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: linear-gradient( rgba(194, 194, 194, 0.5), rgba(214, 213, 213, 0.507)), url(../images/bg.jpeg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2 {
    font-size: 50px;
    font-weight: normal;
    color: #fff;
}

.img-text p {
    padding-top: 35px;
    font-size: 18px;
    line-height: 1.5;
}

.login_form.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.login_form.s-signup .img-text.show_signup {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
}

.img-text.show_login {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
}

.login_form.s-signup .img-text.show_login {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sign_in {
    padding-top: 65px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.login_form.s-signup .sign_in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-btn span.show_login {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.login_form.s-signup .img-btn span.show_login {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.login_form.s-signup .img-btn span.show_signup {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

.sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.login_form.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.footer-login {
    display: block;
    width: 300px;
    margin: 10em auto 0;
    text-align: center;
    font-size: 15px;
}

/* .forgot-pass {
    margin-top: 15px;
    margin-left: 10em;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #555353;
    cursor: pointer;
} */

/* .forgot-pass:hover {
    color: rgb(202, 4, 4);
} */