.star {
  color: rgb(255, 238, 0);
}

.img-rounded {
  cursor: pointer;
  display: block;
  width: 310px;
  height: 250px;
}

.navbar-brand {
  color: white;
}

.btn-warning {
  font-size: 20px;
  border-radius: 4px;
}

.btn-info {
  font-size: 18px;
  margin: auto;
  border-radius: 4px;
}

.product-list {
  height: 700px;
  overflow: auto;
}

.d-flex {
  width: 50% !important;
  height: 30% !important;
  margin: auto;
  margin-top: 30px;
}

i {
  padding-right: 20px;
}

.header {
  margin-bottom: 3em;
}

.navbar a {
  color: #466d1d !important;
}

button:hover {
  background-color: #466d1d !important;
}

button {
  border: none !important;
}

#pv {
  color: gray;
  font-size: 10px;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding-top: 0.5rem;
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.5rem;
  text-align: center;
  align-items: center;
}

.notification:hover {
  background: grey;
  color: white;
  cursor: pointer;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 7px 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

.col-sm {
  position: relative;
}

.like-no {
  position: absolute;
  top: -4rem;
  right: 1rem;
  font-size: 18px;
}

.view-no {
  position: absolute;
  top: -4rem;
  right: 8rem;
  font-size: 18px;
}