.star{
    color: rgb(255, 238, 0);
}

html body{
    background-color: #466d1d;
}

.img-rounded{
    cursor: pointer;
    display: block;
    width: 310px;
    height: 250px; 
}

.card-body{
    height: 250px;
    width: 750px;
}

.card-body-store{
    height: 100px;
    width: 200px;
    font-size: 15px;
}

.navbar-brand{
    color: white;
}

.btn-warning{
    font-size: 20px;
    border-radius: 4px;
}

.btn-info{
    font-size: 18px;
    margin: auto;
    border-radius: 4px;
}